$color-stroke: #F7ECDF;
$color-node: #3A8F9B;
$color-accent: #B54545;

body {
	margin:0;
	padding:0;
}

svg g {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}
.overlay {
	fill: none;
	pointer-events: all;
	stroke: $color-stroke;
}
.node {
	text {
		font: 10px sans-serif;
	}
	circle {
		stroke: white;
		stroke-width:1px;
		cursor: default;
	}

}
.modifiers {
	position: absolute;
  width: 15vw;

	input {
		background-color: $color-stroke; // #E0D5BF;
		border: none;
		padding: 15px 10px;
		margin: 10px 0 5px 10px;
		min-width: 100px;
		cursor: pointer;
	}
}

.popDiv {
	padding:10px;
	//height: 250px;
	img {
		margin:0 20px 0 0;
		width:126px;
		height:183px;
		float:left;
	}
	p {
		font-size:100%;
		color: white;
		padding:0;
		font-family:Verdana, Geneva, sans-serif;
		text-align:left;
		word-wrap:break-word;

		&.header {
			margin:0 0 .7em 146px;
		}
	}

	span {
		font-weight:bold;
	}

	a.videoLink {
		color: $color-node;
		font-size:120%;
	}
}
.tipsy {
	padding:2px !important;
}
.tipsy-inner {
	min-width: 310px !important;
	max-width:330px !important;
	//height:240px !important;
}

.fancybox-overlay-fixed {
	background-color: rgba(0,0,0,.8);
}

::selection {
	background: $color-accent !important;
}
