body {
	margin:0;
	padding:0;
	overflow: auto;
	position: relative;
}

.hidden {
	display: none;
}

.loading {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50vh;
	pointer-events: none;
}
::selection {
	background: $color-accent !important;
}
