@import 'variables';
@import 'global';

svg {
	background: $color-bg;
}

#zoomableArea {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.overlay {
	fill: none;
	pointer-events: all;
	stroke: black;
	fill: white;
}

.node {
	> text {
		font-family: sans-serif;
		transition: opacity .23s ease;
		pointer-events: none;
		opacity: 0;

		&.is-visible {
			opacity: 1;
		}
	}
	> circle {
		transition: fill .35s ease;
		fill: $color-node;
		stroke: white;
		stroke-width:1px;
		cursor: pointer !important;
		outline: none;
	}
	&.is-highlighted {
		> circle {
			fill: $color-accent;
		}
	}
}

line {
	transition: opacity .35s ease, color .35s ease;
	stroke: $color-stroke;
	opacity: 1;
}

.highlight-only-selected-nodes {
	transition: opacity .35s ease;
	.node {
		opacity: .2;
		&.is-connected {
			opacity: 1;
			.title {
				opacity: 1;
			}
			> circle {
				fill: $color-accent;
				box-shadow: 0 0 3px 1px black;
			}
		}
	}
	line {
		opacity: .2;
		&.is-connected {
			opacity: 1;
			stroke: $color-accent;
		}
	}
}

.modifiers {
	position: absolute;
  width: 15vw;

	input {
		background-color: $color-stroke; // #E0D5BF;
		border: none;
		padding: 15px 10px;
		margin: 10px 0 5px 10px;
		min-width: 100px;
		cursor: pointer;
	}
}
